* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    top: 0;
    left: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
#sidemenu {
    display: flex;
    list-style: none;
    right: -200px;
    position: fixed;
    top: 0;
    height: 100%;
    width: 200px;
    background: #333;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    z-index: 2;
}

#sidemenu li {
    margin: 10px 0;
    text-align: center;
}

#sidemenu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav {
    
}
.fa-bars, .fa-square-xmark {
    cursor: pointer;
    color: #333;
    font-size: 24px;
}

/* Header Styles */
#header {
    background: #f4f4f4;
    padding: 60px 0;
    text-align: center;
}

#header-text {
    padding-top: 100px;
}

#header-text p {
    font-size: 20px;
}

#header-text h1 {
    font-size: 50px;
    margin: 20px 0;
}

/* About Section Styles */
#about {
    padding: 80px 0; 
    background: #f9f9f9;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-column-1 {
    flex-basis: 35px;
}

.about-column-2{
    flex-basis: 60%;
}

.about-column-1, .about-column-2 {
    flex: 1;
    padding: 20px;
}

.about-column-1 img {
    width: 100%;
    border-radius: 15px;
    display: block; 
    margin: 0 auto;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #333;
}

.about-column-2 p {
    line-height: 1.6;
}

/* Skills Section Styles */
#skills {
    padding: 50px 0;
    background: #f9f9f9;
}

.tab-titles {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.tab-links {
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

.tab-links.active-link {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.skill-bar {
    display: inline-block;
    background: #007bff;
    height: 10px;
    border-radius: 10px;
}

.skill-percentage {
    margin-left: 10px;
    font-size: 14px;
}

/* Work Experience Section Styles */
#work-experience {
    padding: 50px 0;
    background: #f9f9f9;
}

.experience {
    margin-bottom: 20px;
}

.experience h2 {
    font-size: 24px;
    color: #333;
}

.experience h3 {
    font-size: 18px;
    color: #777;
}

.experience ul {
    list-style-type: disc;
    margin: 10px 0 10px 20px;
    padding: 0;
}

.experience ul li {
    margin-bottom: 5px;
    line-height: 1.6;
}

/* Contact Section Styles */
#contact {
    background: #f9f9f9;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}
.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #007bff;
    transform: translateY(-5px);
}

.button.button2 {
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    background: #333;
    color: white;
    border-radius: 8px;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

form .button2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 6px;
    color:lightsteelblue;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
}


/* CSS variables for skill percentages */
#frontend ul li:nth-child(1) .skill-bar {
    --percentage: 65; /* HTML5 */
}
#frontend ul li:nth-child(2) .skill-bar {
    --percentage: 70; /* CSS3 */
}
#frontend ul li:nth-child(3) .skill-bar {
    --percentage: 65; /* JavaScript */
}
#frontend ul li:nth-child(4) .skill-bar {
    --percentage: 60; /* React.js */
}
#backend ul li:nth-child(1) .skill-bar {
    --percentage: 60; /* Node.js */
}
#backend ul li:nth-child(2) .skill-bar {
    --percentage: 65; /* ASP.NET */
}
#tools ul li:nth-child(1) .skill-bar {
    --percentage: 85; /* Git & GitHub */
}
#tools ul li:nth-child(2) .skill-bar {
    --percentage: 80; /* INTELLIJ IDEA */
}
#tools ul li:nth-child(3) .skill-bar {
    --percentage: 80; /* Visual Studio Code */
}
#tools ul li:nth-child(4) .skill-bar {
    --percentage: 68; /* Responsive design */
}
#soft\ skills ul li:nth-child(1) .skill-bar {
    --percentage: 77; /* Communication */
}
#soft\ skills ul li:nth-child(2) .skill-bar {
    --percentage: 85; /* Teamwork */
}
#soft\ skills ul li:nth-child(3) .skill-bar {
    --percentage: 80; /* Problem-solving skills */
}
#soft\ skills ul li:nth-child(4) .skill-bar {
    --percentage: 85; /* Computer skills & knowledge */
}

nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px) {
    .header-text {
        text-align: center;
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;   
    }

    nav .fa-solid{
        display: block;
    }
    nav ul {
        background: #007bff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 40px;
        z-index : 2;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 0;
        padding: 10px 20px;
    }
    
    nav ul .fa-square-xmark {
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }

    nav .fa-bars {
        display: block;
        position: fixed;
        top: 30px;
        right: 20px;
        color: #333;
        font-size: 24px;
        cursor: pointer;
        z-index: 3;
    }
    nav ul li a {
        font-size: 18px;
        color: #fff;
    }

    nav ul.show {
        right: 0;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .row {
        flex-direction: column;
    }
    .about-column-1 img {
        margin-bottom: 20px;
    }
    .tab-titles {
        flex-direction: column;
    }
    .tab-titles p {
        width: 100%;
        margin-bottom: 10px;
    }
    .contact-left,
    .contact-right {
        width: 100%;
    }
}
